.navbar {
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px 20px !important;
    transition: all 0.3s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.301);
    margin-bottom:20px;
}

.navbar-brand {
    font-size: 2rem !important;
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
    color: #ff8800 !important;
    transition: all 0.3s ease;
    margin-left: 0.4vw;
}

.navbar-nav .nav-item .nav-link {
    font-size: 1rem;
    color: #333;
    margin-right: 15px;
    transition: all 0.3s ease;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ff8800;
    transform: scale(1.05);
}

.navbar-toggler {
    border: none;
    outline: none;
}

.form-control {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 8px;
    transition: all 0.3s ease;

}

.form-control:focus {
    border-color: #ff8800;
    box-shadow: 0 0 5px rgba(255, 204, 0, 0.5);
}

.btn-outline-success {
    border: 2px solid #ff8800 !important;
    color: #ff8800 !important;
    transition: all 0.3s ease;
}

.btn-outline-success:hover {
    background-color: #ff8800 !important;
    color: white !important;
}
.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
  }

  .search-wrapper input {
    padding-right: 35px;
    border:2px solid #ff8800;
  }

  .search-wrapper svg {
    position: absolute;
    right: 10px;
    pointer-events: none; 
    color: #1b1a1a;
  }


body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}


.main {
    width: 50%;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}


h1 {
    font-size: 24px;
    color: #ff8800;  
    margin-bottom: 20px;
}


.input1, .input2 {
    width:100%;
    padding: 12px 15px;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.input1 {
    background-color: #fafafa;
}

input[type="file"] {
    padding: 12px;
    font-size: 12px;
    width: 100%;
    
}

.input2 {
    background-color: #ff8800;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.input2:hover {
    background-color: #e07b00; 
}


@media (max-width: 768px) {
    .main {
        width: 80%; 
    }
}
